/* Grid System Styles */
/* 基于 24 栏栅格系统 */

/* 生成基础 span 类 */
@for $i from 1 through 24 {
  .tml-col-#{$i} {
    flex: 0 0 calc(100% / 24 * #{$i});
    max-width: calc(100% / 24 * #{$i});
  }
}

/* 生成基础 offset 类 */
@for $i from 0 through 23 {
  .tml-col-offset-#{$i} {
    margin-left: calc(100% / 24 * #{$i});
  }
}

/* 生成基础 push 类 */
@for $i from 0 through 23 {
  .tml-col-push-#{$i} {
    left: calc(100% / 24 * #{$i});
  }
}

/* 生成基础 pull 类 */
@for $i from 0 through 23 {
  .tml-col-pull-#{$i} {
    right: calc(100% / 24 * #{$i});
  }
}

/* 响应式断点 - sm (≥576px) */
@media (min-width: 576px) {
  @for $i from 0 through 24 {
    .tml-col-sm-#{$i} {
      @if $i == 0 {
        display: none;
      } @else {
        display: block;
        flex: 0 0 calc(100% / 24 * #{$i});
        max-width: calc(100% / 24 * #{$i});
      }
    }
  }

  @for $i from 0 through 23 {
    .tml-col-sm-offset-#{$i} {
      margin-left: calc(100% / 24 * #{$i});
    }
  }

  @for $i from 0 through 23 {
    .tml-col-sm-push-#{$i} {
      left: calc(100% / 24 * #{$i});
    }
  }

  @for $i from 0 through 23 {
    .tml-col-sm-pull-#{$i} {
      right: calc(100% / 24 * #{$i});
    }
  }
}

/* 响应式断点 - md (≥768px) */
@media (min-width: 768px) {
  @for $i from 0 through 24 {
    .tml-col-md-#{$i} {
      @if $i == 0 {
        display: none;
      } @else {
        display: block;
        flex: 0 0 calc(100% / 24 * #{$i});
        max-width: calc(100% / 24 * #{$i});
      }
    }
  }

  @for $i from 0 through 23 {
    .tml-col-md-offset-#{$i} {
      margin-left: calc(100% / 24 * #{$i});
    }
  }

  @for $i from 0 through 23 {
    .tml-col-md-push-#{$i} {
      left: calc(100% / 24 * #{$i});
    }
  }

  @for $i from 0 through 23 {
    .tml-col-md-pull-#{$i} {
      right: calc(100% / 24 * #{$i});
    }
  }
}

/* 响应式断点 - lg (≥992px) */
@media (min-width: 992px) {
  @for $i from 0 through 24 {
    .tml-col-lg-#{$i} {
      @if $i == 0 {
        display: none;
      } @else {
        display: block;
        flex: 0 0 calc(100% / 24 * #{$i});
        max-width: calc(100% / 24 * #{$i});
      }
    }
  }

  @for $i from 0 through 23 {
    .tml-col-lg-offset-#{$i} {
      margin-left: calc(100% / 24 * #{$i});
    }
  }

  @for $i from 0 through 23 {
    .tml-col-lg-push-#{$i} {
      left: calc(100% / 24 * #{$i});
    }
  }

  @for $i from 0 through 23 {
    .tml-col-lg-pull-#{$i} {
      right: calc(100% / 24 * #{$i});
    }
  }
}

/* 响应式断点 - xl (≥1200px) */
@media (min-width: 1200px) {
  @for $i from 0 through 24 {
    .tml-col-xl-#{$i} {
      @if $i == 0 {
        display: none;
      } @else {
        display: block;
        flex: 0 0 calc(100% / 24 * #{$i});
        max-width: calc(100% / 24 * #{$i});
      }
    }
  }

  @for $i from 0 through 23 {
    .tml-col-xl-offset-#{$i} {
      margin-left: calc(100% / 24 * #{$i});
    }
  }

  @for $i from 0 through 23 {
    .tml-col-xl-push-#{$i} {
      left: calc(100% / 24 * #{$i});
    }
  }

  @for $i from 0 through 23 {
    .tml-col-xl-pull-#{$i} {
      right: calc(100% / 24 * #{$i});
    }
  }
}

/* 响应式断点 - xxl (≥1600px) */
@media (min-width: 1600px) {
  @for $i from 0 through 24 {
    .tml-col-xxl-#{$i} {
      @if $i == 0 {
        display: none;
      } @else {
        display: block;
        flex: 0 0 calc(100% / 24 * #{$i});
        max-width: calc(100% / 24 * #{$i});
      }
    }
  }

  @for $i from 0 through 23 {
    .tml-col-xxl-offset-#{$i} {
      margin-left: calc(100% / 24 * #{$i});
    }
  }

  @for $i from 0 through 23 {
    .tml-col-xxl-push-#{$i} {
      left: calc(100% / 24 * #{$i});
    }
  }

  @for $i from 0 through 23 {
    .tml-col-xxl-pull-#{$i} {
      right: calc(100% / 24 * #{$i});
    }
  }
}
